.header__logo {
  width: 142px;
  height: 33px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 45px;
  margin-bottom: 41px;
}

@media screen and (max-width: 320px) {
  .header__logo {
    max-width: 104px;
    max-height: 25px;
    margin-top: 28px;
    margin-bottom: 30px;
    margin-left: 27px;
  }
}
