.edit-form__button-save {
  width: 100%;
  background-color: #000;
  height: 50px;
  border: none;

  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #ffffff;

  margin: 23px 0;


  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s ease;
}
.edit-form__button-save:hover {
  opacity: 0.8;
}
@media screen and (max-width: 520px) {
  .edit-form__button-save {
    font-size: 14px;
    line-height: 17px;
    height: 46px;
  }
}
