.popup__button-close {
  width: 32px;
  height: 32px;
  background-color: transparent;
  background-image: url('../../../images/Close-Icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  border: none;

  position: absolute;
  top: 0;
  right: 0;
  transform: translate(calc(100% + 8px), calc(-100% - 8px));
}
@media screen and (max-width: 520px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    transform: translateY(calc(-100% - 16px));
  }
}
