.authorization {
    display: flex;
    min-height: 70vh;
    max-width: 358px;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    box-sizing: border-box;
}

@media screen and (max-width: 358px) {
    .authorization {
        max-width: 260px;
    }
}