.card__button-like {
  padding: 0;
  width: 22px;
  height: 19px;
  border: none;
  background-color: transparent;
  background-image: url('../../../images/like.svg');
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s ease;
}
.card__button-like:hover {
  opacity: 0.5;
}


