.header {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;

  box-sizing: border-box;
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 880px) {
  .header {
    max-width: 90%;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 100%;
  }
}
